@model IEnumerable<HastaneRandevuUygulaması.Models.Hasta>

<h3>Api den çekilen datalar</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hastaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hastaLastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.hastaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hastaLastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.hastaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.hastaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.hastaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
